.sec8 .button {
    padding: 1em;
    border: 0;
    color: white;
    background-color: #57b;
    font-size: 1rem;
    padding: 0.8em;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.15);
}

.sec8 .button:hover {
    background-color: #456ab6;
}

.sec8 .button:active {
    background-color: #148;
}