.sec12 .blend {
    min-height: 400px;
    background-image: url(./img.jpg), url(./img.jpg);
    background-size: 200px, cover;
    background-repeat: repeat, no-repeat;
    background-position: center center;
    background-blend-mode: soft-light;
}