@import url(./e2.1.css);
@import url(./e2.2.css);
@import url(./e2.3.css);
@import url(./e2.4.css);
@import url(./e2.5.css);
@import url(./e2.6.css);
@import url(./e2.7.css);
@import url(./e2.8.css);
@import url(./e2.9.css);
@import url(./e2.10.css);
:root{
    font-family: sans-serif;
    --marginse: 2rem ;
}

body{
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    border: 0;
    width: calc(100% - calc( var(--marginse) * 2 ) );
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 1rem var(--marginse);
}


body > section, h1{
    margin-bottom: var(--marginse);
}

body > section {
    background-color: #fff;
    width:  calc(100% - calc( var(--marginse) * 2 ) );
    height: auto;
    position: relative;
    border: 1px solid #ccc;
    padding: var(--marginse);
}