.sec3{
    display:  flex;
    flex-direction: column;
    gap: 1rem;
}
.sec3 .button {
    float: left;
    width: fit-content;
    padding: 0.5em 0.8em;
    border: 1px solid #265559;
    border-radius: 0.2em;
    background-color: transparent;
    font-size: 1rem;
}

.sec3 .button--success {
    border-color: #cfe8c9;
    color: #fff;
    background-color: #2f5926;
}

.sec3 .button--danger {
    border-color: #e8c9c9;
    color: #fff;
    background-color: #a92323;
}

.sec3 .button--small {
    font-size: 0.8rem;
}

.sec3 .button--large {
    font-size: 1.2rem;
}