@import url(./e9.3.css);
@import url(./e9.4.css);
@import url(./e9.6.css);
@import url(./e9.8.css);
@import url(./e9.10.css);
@import url(./e9.12.css);
@import url(./e9.14.css);
:root {
    box-sizing: border-box;
    font-family: sans-serif;
    --marginse: 2rem;
}

/* *, *::before, *::after {
} */

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    border: 0;
    width: calc(100% - calc( var(--marginse) * 2));
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 1rem var(--marginse);
}

body>section, h1 {
    margin-bottom: var(--marginse);
}

body>section {
    background-color: #fff;
    width: calc(100% - calc( var(--marginse) * 2));
    height: auto;
    position: relative;
    border: 1px solid #ccc;
    padding: var(--marginse);
}